experiment: neac
algo: neac
env_name: LunarLander-v2
base_seed: 42

dnd:
  size: 6_000
  key_size: 64
  lr: 0.2

training_steps: 2000000
gamma: 0.99
nsteps: 50
beta_entropy: 0.001
lr: 0.005

log_interval: 50